apturl
asgiref
autopep8
backports.zoneinfo
blinker
# Brlapi
certifi
chardet
# chrome-gnome-shell==0.0.0
Click
colorama
# command-not-found==0.3
configobj
cryptography
# cupshelpers==1.0
# dbus-python
# defer==1.0.6
distlib
distro
# distro-info===0.23ubuntu1
dj-database-url
Django
django-cors-headers
djangorestframework
entrypoints
filelock
flake8
gunicorn
httplib2
idna
keyring
# language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
macaroonbakery
mccabe
netifaces
oauthlib
olefile
pbr
pexpect
Pillow
platformdirs
protobuf
psutil
psycopg2
pycairo
pycodestyle
# pycups
pyflakes
# PyGObject
PyJWT
pymacaroons
PyNaCl
pyRFC3339
# python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
reportlab
requests
requests-unixsocket
# screen-resolution-extra
SecretStorage
simplejson
six
sqlparse
systemd-python
testresources
# toml
# ubuntu-advantage-tools
# ubuntu-drivers-common
# ufw
# unattended-upgrades
urllib3
virtualenv
wadllib
whitenoise
# xkit
hidapi
cm-rgb
pip
setuptools
wheel
